/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9966, #ff5e62);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;   /* prevents form from disappearing */
    padding-top: 40px;         /* pushes form into view */
}

/* Main box */
.container {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.25);
    text-align: center;
}


/* Title */
h2 {
    margin-bottom: 20px;
    color: #ff5e62;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Buttons */
button {
    background-color: #ff5e62;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}

button:hover {
    background-color: #ff9966;
}

/* Links */
a {
    color: #ff5e62;
    text-decoration: none;
    font-weight: bold;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

.error-box {
    background-color: #ffe0e0;
    border: 1px solid #ff5e62;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.error-box p {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 10px;
}

/* menu page*/

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.menu-item {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.menu-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
